{:paths ["src/core" "resources"]
 :deps
 {
  ;;
  seancorfield/clj-new {:mvn/version "1.0.199"}


  ;;
  cheshire              {:mvn/version "5.10.0"}
  clj-http              {:mvn/version "3.10.0"}
  me.raynes/conch       {:mvn/version "0.8.0"}
  org.clojure/tools.cli {:mvn/version "1.0.194"}


  ;; user.tools.deps.util.shell
  user.tools.deps.alpha {:mvn/version "2020.105.15542"}
  }


 :aliases
 {:test
  {:extra-paths ["src/test"]}


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/test"]}}}
